@model ZayiflamaMerkeziTakip.Models.Hastalar

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<h4>Hastalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HastaId" />
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyisim" class="control-label"></label>
                <input asp-for="Soyisim" class="form-control" />
                <span asp-validation-for="Soyisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyet" class="control-label"></label>
                <div>
                    @Html.RadioButtonFor(m => m.Cinsiyet, "Erkek") Erkek
                    @Html.RadioButtonFor(m => m.Cinsiyet, "Kadın") Kadın
                </div>
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonNo" class="control-label"></label>
                <input asp-for="TelefonNo" class="form-control" />
                <span asp-validation-for="TelefonNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KayitTarihi" class="control-label"></label>
                <input asp-for="KayitTarihi" class="form-control" />
                <span asp-validation-for="KayitTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TedaviId" class="control-label"></label>
                <select asp-for="TedaviId" class="form-control" asp-items="ViewBag.TedaviId"></select>
                <span asp-validation-for="TedaviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
