@model ZayiflamaMerkeziTakip.Models.Doktorlar

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Doktor Kayıt</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Yeni Kayıt Oluştur</h3>
                                </div>
                                <div class="card-body">
                                    <form asp-action="Create" enctype="multipart/form-data">

                                        <h4>Doktorlar</h4>
                                        <hr />                                        
                                        <div class="form-group">
                                            <label asp-for="İsim" class="control-label"></label>
                                            <input asp-for="İsim" class="form-control" />
                                            <span asp-validation-for="İsim" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Soyisim" class="control-label"></label>
                                            <input asp-for="Soyisim" class="form-control" />
                                            <span asp-validation-for="Soyisim" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UzmanlikId" class="control-label">Uzmanlık</label>
                                            <select asp-for="UzmanlikId" class="form-control" asp-items="ViewBag.UzmanlikId"></select>
                                            <span asp-validation-for="UzmanlikId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input asp-for="TelefonNo" class="form-control" />
                                            <span asp-validation-for="TelefonNo" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="ImageFile" class="control-label"></label>
                                            <input asp-for="ImageFile" accept="image/*" />
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>

                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Oluştur</button></div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>

