@model ZayiflamaMerkeziTakip.Models.Doktorlar

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<h4>Doktorlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoktorId" />
            <div class="form-group">
                <label asp-for="İsim" class="control-label"></label>
                <input asp-for="İsim" class="form-control" />
                <span asp-validation-for="İsim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyisim" class="control-label"></label>
                <input asp-for="Soyisim" class="form-control" />
                <span asp-validation-for="Soyisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Uzmanlık</label>
                <select asp-for="UzmanlikId" class="form-control" asp-items="ViewBag.UzmanlikId"></select>
                <span asp-validation-for="UzmanlikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input asp-for="TelefonNo" class="form-control" />
                <span asp-validation-for="TelefonNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}